language: python
python:
  - "2.6"
  - "2.7"

env:
  global:
    - GENGO_PUBKEY='pubkeyfortests' GENGO_PRIVKEY='privatekeyfortestuserthatcontainsonlyletters'

# command to install dependencies
install:
- pip install -r requirements.txt --use-mirrors

# command to run pep8
before_script: python setup.py pep8
# command to run tests
script: python setup.py test

notifications:
  irc: "irc.freenode.net#Gengo"
